<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-3">
            <div class="col-md-4 offset-md-4">
                <h2 class="pb-2 border-bottom">Thymeleaf</h2>
                <div class="vstack gap-3">
                    <a class="btn btn-primary" th:href="@{/vsimples}">Variables simples Thymeleaf</a>
                    <a class="btn btn-secondary" th:href="@{/llenarForm}">Llenar un formulario</a>
                    <a class="btn btn-success" th:href="@{/iterarLista}">Iterar una lista</a>
                    <a class="btn btn-warning" th:href="@{/llenarCombo}">Llenar un combobox</a>
                    <a class="btn btn-info" th:href="@{/condicionales}">Condicionales</a>
                </div>
                <h2 class="pb-2 pt-4 border-bottom">DataBinding</h2>
                <div class="vstack gap-3">
                    <a class="btn btn-success" th:href="@{/ejemDataBindForm}">Ejemplo Data binding</a>
                </div>
                <h2 class="pb-2 pt-4 border-bottom">Spring Data JPA</h2>
                <div class="vstack gap-3">
                    <a class="btn btn-info" th:href="@{/shipper/listar}">Listar Transportistas (Shippers)</a>
                    <a class="btn btn-info" th:href="@{/territory/listar}">Listar Territorios (Territories)</a>
                </div>
            </div>
        </div>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
    </body>
</html>